html{
          margin:0;
          padding:0;
}

a{
    text-decoration: none;
}


body > header{
    box-shadow:15px 10px 12px #eeeeee;
}

header h1{
    display:inline-block;
    text-align: center;
    margin:0;
    width: 70%;
}



header img{
    display:inline-block;
    left:1em;
    max-width:120px;
    vertical-align: middle;
}

main{
    margin:1em;
}


.alert{
    color:red;
}

