html{
          margin:0;
          padding:0;
}

a{
    text-decoration: none;
}


body > header{
    box-shadow:15px 10px 12px #eeeeee;
}

header h1{
    display:inline-block;
    text-align: center;
    margin:0;
    width: 70%;
}



header img{
    display:inline-block;
    left:1em;
    max-width:120px;
    vertical-align: middle;
}

form label{
    display: block;
    width: 150px;
    float: left;
}


.alert{
    color:red;
}

@media screen and (max-width: 640px) {
    input {
        width:95%;
    }
    header h1 {
        width:100%;
        display:block;
        text-align: center;
    }
    header img{
        max-width: 60px;
    }
}

